.box{
    width: 150px;
    height: 150px;
    margin: auto;
    animation: colorchanger 3s infinite ;
    animation-timing-function: linear;
}
@keyframes colorchanger {
    0%{
        background-color: aqua;
    }
    50%{
        background-color: chartreuse;
    }
    100%
    {
        background-color: darkkhaki;
    }
}
