.container{
    text-align: center;
    border: 2px solid black;
    height: 500px;
    width: 400px;
}
.output{
    margin: 20px;
    padding: 5px;
    

}
.outputscreen{
    height: 50px;
    width: 350px;
}