*{
    margin: 0px;
}
li { 
    display: inline;
    margin: 25px;
    background-color: #3F63B5;
}
a{
    text-decoration: none;
    color:black;
    background-color: #3F63B5;
}
ul{
    margin-left:450px;
    background-color: #3F63B5;
} 
nav{
    background-color: #3F63B5;
    height: 50px;
    padding-top: 10px;
    font-size: xx-large;
}
body{
    background: url();
    background-color: black;
}
button{
    margin-left: 20px;
    font-size: large;
    border-radius: 10px;
    background-color: white;
    margin-top: 50px;
    box-shadow: 2px 2px 5px #3F63B5;
}
.headding{
    text-align: center;
    text-decoration: underline;
    color: #3F63B5;
    margin-top: 20px;
}
.button{
    text-align: center;
}
.one{
    background-color: white;
    
}
.two{
    background-color: white;

}
.info{
    background-color: #3F63B5;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
img{
    margin-top: 5px;
    width: 240px;
    height: 180px;
}
img:hover{
    margin: 0px;
    margin-bottom: -5px;
    width: 1000px;
    height: 180px;
    transition: width 3s ;
    
}
.name{
    font-size: 20px;
}
.name:hover{
    font-size: 80px;
    transition: font-size 1s;
}