.a{
    height: 100px;
    width: 150px;
    border: 1px solid red;
    position: absolute;
    top: 50px;
    left: 50px;
}
.b{
    height: 100px;
    width: 150px;
    border: 1px solid red;
    position: absolute;
    left: 300px;
    top: 100px;
}
.c{
    height: 100px;
    width: 150px;
    border: 1px solid red;
    position: absolute;
    left: 50px;
    top: 270px;
}
.d{
    height: 100px;
    width: 150px;
    border: 1px solid red;
    position: absolute;
    top: 30px;
    left: 1000px;
}
.e{
    height: 100px;
    width: 150px;
    border: 1px solid red;
    position: absolute;
    left: 1300px;
    top: 150px;
}
.f{
    height: 100px;
    width: 150px;
    border: 1px solid red;
    position: fixed;
    left: 800px;
    top: 200px;
}
.g{
    height: 100px;
    width: 150px;
    border: 1px solid red;
    position: absolute;
    left: 1050px;
    top: 270px;
}
